[Unit]
Description=Squid container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a proxy_squid
ExecStop=/usr/bin/docker stop -t 2 proxy_squid

[Install]
WantedBy=default.target
